<!-- Estamos indicando que esse é o conteúdo principal da nossa página -->
<main class="app-container">
  <h1>Gerenciamento de perfil de usuário</h1>
  <!-- 
    Aqui temos o nosso componente filho que é um componente personalizado 
    [profile]="userProfile" -> Essa parte passa dados para o componente filho (app-profile-card).
    [profile]: Diz que nós estamos enviando um objeto chamado profile.
    "userProfile": É a variável do TypeScript que contém os dados do usuário

    Em outras palavras estamos falando: Olha envia o objeto userProfile para o componente app-cartao-de-perfil

    Já o (profileChange)="onProfileChange($event)"
    Isso ouve um evento vindo do componente filho.
    (profileChange): Nome do evento personalizado 
    (que o componente app-cartao-de-perfil envia quando o perfil é alterado).
    
    Bem o que acontece
    onProfileChange($event): Quando o evento acontece, 
    ele executa a função onProfileChange() passando os novos dados do perfil 
    ($event é o que veio do evento).
    
    -->
  
  <app-cartao-de-perfil 
    [profile]="userProfile" 
    (profileChange)="onProfileChange($event)">
  </app-cartao-de-perfil>
</main>